# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.FourthLab.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Carambula\Desktop\Study\AMO\FourthLab\.idea\.idea.FourthLab\.idea/dataSources/
/dataSources.local.xml
